html{
    background-color: white;
}

#logo {
    width: 100px;
    margin-top: -25px;
    float: left;
}

#content {
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 35px;
    margin-top: 50px;
    margin-right: 7%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #3B1639;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 125px;
}

h4 {
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#messages {
    list-style-type: none; 
    margin: 10px; 
    padding: 0; 
    float: right; 
    max-width: 68%;
    text-align: right;
    border-style: none;
    background-color: white;
    z-index: -1;
}

#messages li {
    padding: 5px 10px;
    margin: 0 0 10px 0;
    display: inline-block;
    height: 18px;
    background: #ECDEF0;
    border-style: outset;
    border-radius: 25px;
    position: inherit;
}

#messages li:nth-child(even) {
    display: block;
}

#messages li:nth-child(odd) {
    background: #eee;
    display: block;
    text-align: left;
}

#online_heading {
    text-align: center; 
    border-bottom: #000; 
    border-bottom-width: 1px; 
    border-bottom-style: solid;
    margin-top: auto;
}

#online {
    border: #000; 
    border-width: 1px; 
    border-style: solid; 
    width: 200px; 
    height: 530px;
}

ul {
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    overflow: hidden;
    background-color: #E3E3E3;
    text-align: center;
    border-style: outset;
    position: sticky;
    top: 0;
}

ul.accounts {
    list-style-type: none;
    padding: 0;
    float: right;
    margin-right: 5%;
}

ul.find_help {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.other_options {
    margin-left: 2%;
    width: 350px;
}

li {
    display: inline-block;
}

li.find_help {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: #000;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: #3B1639;
}

li a:hover {
    background-color: #F07E6D;
    color: white;
    border: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

#form {
    color: #3B1639;
    display: inline-block;
    text-align: left;
    margin: auto;
}

#contact_form {
    color: #3B1639;
    text-align: left;
}

#login {
    text-align: center;
}

h3.about {
    text-align: left;
    margin-left: 2%;
    margin-top: 5%;
}

p.about {
    text-align: left;
    margin: 2% 0 15% 2%;
    padding-right: 20%;
}

h3.about_mission {
    text-align: left;
    margin-left: 2%;
    margin-top: 5%;
}

p.about_mission {
    text-align: left;
    margin: 2% 0 15% 2%;
    padding-right: 20%;
}

img.about_page {
    float: right;
}

h3.find_help {
    text-align: left;
    margin-left: 2%;
}

p.find_help {
    text-align: left;
    margin-left: 2%;
    padding-right: 50%;
}