html{
    background-color: #F7F7E4;
}

h1 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3B1639;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #F7F7E4;
    text-align: center;
    border-style: outset;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: #000;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: #3B1639;
}

li a:hover {
    background-color: #F2897E;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

#form {
    color: black;
    display: inline-block;
    text-align: left;
    margin: auto;
}

#contact_form {
    color: black;
}

#messages {
    list-style-type: none;
}
