html{
    background-color: white;
}

#logo {
    width: 100px;
    margin-top: -25px;
    float: left;
}

#content {
    align-content: center;
    margin-left: 25%;
    margin-top: 5%;
}

h1 {
    font-size: 35px;
    margin-top: 50px;
    margin-right: 7%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #3B1639;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 50px;
}

h4 {
    text-align: left;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h4.online_members {
    text-align: right;
    padding-right: 5%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#messages {
    list-style-type: none; 
    margin: 10px; 
    padding: 0; 
    float: right; 
    max-width: 68%;
    text-align: right;
    border-style: none;
    background-color: white;
    z-index: -1;
}

#messages li {
    padding: 5px 10px;
    margin: 0 0 10px 0;
    display: inline-block;
    height: 18px;
    background: #ECDEF0;
    border-style: outset;
    border-radius: 25px;
    position: inherit;
}

#messages li:nth-child(even) {
    display: block;
}

#messages li:nth-child(odd) {
    background: #eee;
    display: block;
    text-align: left;
}

#online_heading {
    text-align: center; 
    border-bottom: #000; 
    border-bottom-width: 1px; 
    border-bottom-style: solid;
    margin-top: auto;
}

#online {
    border: #000; 
    border-width: 1px; 
    border-style: solid; 
    width: 200px; 
    height: 530px;
}

ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #E3E3E3;
    text-align: center;
    border-style: outset;
    position: sticky;
    top: 0;
}

ul.accounts {
    list-style-type: none;
    padding: 0;
    margin: 0%;
    float: right;
    height: 40px;
}

ul.sign_up {
    list-style-type: none;
    padding: 0;
    margin: 0%;
    float: right;
}

ul.find_help {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.other_options {
    margin-left: 2%;
    float: right;
}

li {
    display: inline-block;
}

li.menu {
    margin-left: 13%;
}

li.find_help {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: #000;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: #3B1639;
}

li a:hover {
    background-color: #F07E6D;
    color: white;
    border: black;
}

div.sign_up {
    padding-top: 2%;
    padding-right: 10%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

#form {
    color: #3B1639;
    display: inline-block;
    text-align: left;
    margin: auto;
}

label.contact {
    display: inline-block;
    width: 140px;
    text-align: right;
}

label.signup {
    display: inline-block;
    width: 140px;
    text-align: right;  
}

label.login {
    display: inline-block;
    width: 140px;
    text-align: right; 
}

input.sub {
    display: inline;
    margin-left: 25%;
}

#login {
    text-align: center;
}

h3.about {
    text-align: left;
    margin-left: 2%;
    margin-top: -10%;
}

p.about {
    text-align: left;
    margin: 2% 0 2% 2%;
    padding-right: 20%;
}

h3.find_help {
    text-align: left;
    margin-left: 2%;
}

p.find_help {
    text-align: left;
    margin-left: 2%;
    padding-right: 50%;
}

td {
    padding: 5px 30px 5px 30px;
}
/* 
td.other_options {
    padding: 5px 150px 0 50px;
} */

table.about_pg {
    padding: 5% 5% 5% 12%;
}

table.contact_pg {
    padding: 5% 5% 5% 17%;
}

p.acct_msg {
    margin: 2%;
    text-align: center;
}

p.prof_acct {
    width: 750px;
    padding-left: 10%;
}
p.reg_acct {
    width: 750px;
    padding-left: 10%;
}