<!doctype html>
<html>
    <head>
        <a href="/"><img src="/images/MomLogo.png" id="logo"></a>
        <h1>About MOM</h1>
        <link href='/style/style.css' rel='stylesheet' type="text/css"/>
        <title>About MOM</title>
    </head>
    
    <ul>        
        <li><a href='index'>Home</a></li>
        <li><a href='contact'>Contact</a></li>
        <li><a href='find_help'>Find Help</a></li>
    </ul>
    <div id="about">
        <table style="width:100%" class="about_pg">
            <tr>
                <td>
                    <h3 class="about">The Problem</h3>
                    <p class="about">
                        Each year, around 45,000 people commit suicide within the United
                        States. For each life taken, 25 more Americans attempt to kill 
                        themselves. Suicide is a major problem within our country, but it is 
                        not taken as seriously as possible. During this day and time, a majority 
                        of the younger generations avoid talking on the phone as much as 
                        possible and feel more comfortable instant messaging. These problems
                        and more will be addressed through MOM.
                    </p> 
                </td>
                <td>
                    <h3 class="about">Our Mission</h3>
                    <p class="about">
                        Means of Omitting Melancholy, or MOM for short, is focused on helping
                        anyone who may be suffering from depression and/or suicidal tendencies
                        through the use of 24/7 online instant messaging between QPR certified
                        volunteers and the victim. It is our goal to be there for anyone
                        who may need this service, but can either not afford it or would rather
                        instant message than talk on the phone.
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <img class="about_page" src="/images/stats.png" align="right" style="width:75%; float:left;">  
                </td>
                <td>
                    <img class="about_page" src="/images/24hr.png" align="right" style="width:25%; float:left; margin-left:3%;">
                    <img class="about_page" src="/images/qpr.png" align="right" style="width:25%; float:left;">
                    <img class="about_page" src="/images/chat.png" align="right" style="width:25%; float:left;">
                </td>
            </tr>
        </table>
        
    </div>
</html>