<!doctype html>
<html>
    <head>
        <a href="/"><img src="/images/MomLogo.png" id="logo"></a>
        <h1>Create an Account</h1>
        <link href='/style/style.css' rel='stylesheet' type="text/css"/>
        <title>Create Account</title>
        <ul>
            <li><a href='index'>Home</a></li>
        </ul>
    </head>

    <body>
        <div class='create'>
            <form method="post">
                <p>Thank you for choosing to create an account! Please choose whether you
                    would like a professional or regular account. A description of each can
                    be found below.
                </p>
                <p class="accounts">
                    <ul>
                        <li id="account"><a href="reg">Regular Account</a></li>
                        <li id="account"><a href="prof_1">Professional Account</a></li>
                    </ul>
                </p>
            </form>
        </div>
    </body>
</html>