<!doctype html>
<html>
    <head>
        <a href="/"><img src="/images/MomLogo.png" id="logo"></a>
        <h1>Find Help</h1>
        <link href='/style/style.css' rel='stylesheet' type="text/css"/>
        <title>Find Help</title>
    </head>
    
    <ul>
        <li><a href='index'>Home</a></li>
        <li><a href='about'>About</a></li>
        <li><a href='contact'>Contact</a></li>
    </ul>

    <div id="find_help">
        <table>
            <tr>
                <td class="find_help">
                    <h3 class="find_help">There Are Other Options</h3>
                    <p class="find_help">
                        Along with MOM, there are a mass amount of other services
                        offered throughout the US. It doesn't matter what service you
                        use, as long as you promise us that you will get the help that 
                        you need! A few of these other options are listed below:
                    </p>
                </td>    
                <td class="other_options">
                    <ul class="other_options">
                        <li><a href="https://suicidepreventionlifeline.org/">National Suicide Prevention Lifeline</a></li>
                    </ul>
                    <ul class="other_options">
                        <li><a href="https://afsp.org/">American Foundation for Suicide Prevention</a></li>
                    </ul>
                    <ul class="other_options">
                        <li><a href="https://www.veteranscrisisline.net/">Veteran's Crisis Line</a></li>
                    </ul>
                </td>
            </tr>
        </table>

    </div>
</html>