<!doctype html>
<html>
    <head>
        <h1>Means of Omitting Melancholy</h1>
        <link href='C:\Users\Sarah\Desktop\Capstone\Capstone-MOM\MOM\style\style.css', rel='stylesheet'/>
        <title>MOM</title>
        <ul>
            <li><a href='about.html'>About</a></li>
            <li><a href='contact.html'>Contact</a></li>
            <li><a href='find_help.html'>Find Help</a></li>
            <li><a href='create.html'>Create Account</a></li>
            <li><a href='login.html'>Log In</a></li>
            <li><a href='chat.html'>Chat</a></li>
        </ul>
    </head>
  

</html>