<!doctype html>
<html>
    <head>
        <h1>Means of Omitting Melancholy</h1>
        <link href='/style/style.css' rel='stylesheet' type="text/css"/>
        <title>MOM</title>
        <ul>
            <li><a href='about'>About</a></li>
            <li><a href='contact'>Contact</a></li>
            <li><a href='find_help'>Find Help</a></li>
            <li><a href='create'>Create Account</a></li>
            <li><a href='login'>Log In</a></li>
            <li><a href='chat'>Chat</a></li>
        </ul>
    </head>
  

</html>