<!doctype html>
<html>
    <head>
        <h1>Login</h1>
        <link href='/style/style.css' rel='stylesheet' type="text/css"/>
        <title>Login</title>
        <ul>
            <li><a href='index'>Home</a></li>
        </ul>
    </head>

    <body id="login">
        <form method="post" name="login" id="login" onsubmit="return checkLogin(this);">
            Username: <input type="text" name="username" required>
            <br><br>
            Password: <input type="password" name="password" required>
            <br><br>
            <input type="submit" name="submit" value="Submit">
            <br><br>
            <a href="password_reset">Forgot Password</a>
        </form>

        <script>
            function checkLogin(login){

            }
        </script>
    </body>
</html>