<!doctype html>
<html>
    <head>
        <h1>Login</h1>
        <link href='C:\Users\Sarah\Desktop\Capstone\Capstone-MOM\MOM\style\style.css', rel='stylesheet'/>
        <title>Login</title>
        <ul>
            <li><a href='index.html'>Home</a></li>
        </ul>
    </head>

    <body>
        <form method="post" name="login" id="login" action="form-handler" onsubmit="return checkLogin(this);">
            Username: <input type="text" name="username" required>
            <br><br>
            Password: <input type="password" name="password" required>
            <br><br>
            <input type="submit" name="submit" value="Submit">
            <br><br>
            <a href="password_reset.html">Forgot Password</a>
        </form>

        <script>
            function checkLogin(login){

            }
        </script>
    </body>
</html>