<!doctype html>
<html>
    <head>
        <a href="/"><img src="/images/MomLogo.png" id="logo"></a>
        <h1>Professional Account Creation</h1>
        <link href='/style/style.css' rel='stylesheet' type="text/css"/>
        <title>Professional Account</title>
        <ul>
            <li><a href='index'>Home</a></li>
        </ul>
    </head>

    <body>
        <form name="form" id="form" style="margin-left: 2%; margin-top: 2%; margin-right:40%">
            <label>1. Why are you wanting to create a professional account?</label> 
            <br><br>
            <input type="text" id="prof_questions" name="prof_questions" style="border-color:#ECDEF0" required>
            <br><br>
            <label>2. Are you a therapist, counselor, or doctor?</label>
            <br><br>
            <input type="radio" id="prof_questions" name="prof_questions" value="yes">Yes
            <input type="radio" id="prof_questions" name="prof_questions" value="no">No
            <br><br>
            <label>3. If you marked 'yes' above, what company do you work for?</label>
            <br><br>
            <input type="text" id="prof_questions" name="prof_questions" style="border-color:#ECDEF0" required>
            <br><br>
            <label>
                4. In order to successfully create a professional account, you must be certified in the QPR training course. 
                If you have taken the course, please provide proof that you are now QPR certified. If you are not certified, 
                please click the following link and complete the course. It will cost a flat fee of $29.95 and you will be 
                certified for 3 years in suicide prevention. <a href="https://qprinstitute.com/individual-training">QPR Training</a>                
            </label>
            <br><br>
            <input type="text" id="prof_questions" name="prof_questions" style="border-color:#ECDEF0" required>
            <br><br>
            <label>5. Please also attach a resume so we can get to know you a little better.</label>
            <br><br>
            <input type="file" id="prof_questions" name="prof_questions" style="border-color:#ECDEF0" required>
            <br><br><br>
            <button><a href="login">Continue to login</a></button>
        </form>
    </body>