<!doctype html>
<html>
    <head>        
        <a href="/"><img src="/images/MomLogo.png" id="logo"></a>
        <h1>Regular Account Creation</h1>
        <link href='/style/style.css' rel='stylesheet' type="text/css"/>
        <script src="/submit.js"></script>
        <title>Regular Account</title>
        <ul>
            <li><a href='index'>Home</a></li>
        </ul>
    </head>

    <body id="signup">
        <form method="post" name="form" id="form" action="/reg" style="margin-left: 2%; margin-top: 2%">
            <label class="signup">First Name:</label> <input type="text" id="fname" name="fname" style="border-color:#ECDEF0" required>
            <label class="signup">Last Name:</label> <input type="text" id="lname" name="lname" style="border-color:#ECDEF0" required>
            <br><br>
            <label class="signup">Gender:</label>
            <input type="radio" id="she" name="she" value="female">Female
            <input type="radio" id="he" name="he" value="male">Male
            <br><br>
            <label class="signup">Birthday:</label>
            <select id="bmonth" required>
                <option value="" disabled="disabled" selected="selected">Month</option>
                <option value="Jan">January</option>
                <option value="Feb">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="Aug">August</option>
                <option value="Sept">September</option>
                <option value="Oct">October</option>
                <option value="Nov">November</option>
                <option value="Dec">December</option>
            </select>
            <select id="bday" required>
                <option value="" disabled="disabled" selected="selected">Day</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            <br><br>
            <label class="signup">Email:</label> <input type="email" id="email" name="email" style="border-color:#ECDEF0" required>
            <br><br>
            <label class="signup">Desired Username:</label> <input type="text" id="username" name="username" style="border-color:#ECDEF0" required>
            <br><br>
            <label class="signup">Password:</label> <input type="password" id="pass" name="password" style="border-color:#ECDEF0" required>
            <br><br>
            <label class="signup">Verify Password:</label> <input type="password" id="pass_ver" name="password_verify" style="border-color:#ECDEF0" required>
            <br><br>
            <input class="sub" type="button" name="submit_btn" value="Submit" onclick="submit_form()">
        </form>
    </body>
</html>